h1 {
    background-color: black;
    color: greenyellow;
    font-family: monospace;
    font-size: 55px;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 1;
    text-align: right;
}

h3{
    background-color: aquamarine;
    color: #685206;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200px;
    letter-spacing: 10px;
    text-align: center;
}

p {
    color: #ffdd62;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 50px;
    margin: 0 0 24px;
    text-align: left;
    text-justify: inter-word;
}

textarea {
    margin: 50px;
    width:  250px;
    height: 25px;
}

ul, ol {
    margin:  75px;
    padding: 50px;
}

li {
    font-size: 35px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}
   
li:last-child {
    border: #ffdd62;
}

form {
    height: 200px;px;
    width:  80px;
    margin: auto;
    border: 10px;
    border-color: aquamarine;
    border-radius: 25px;
    padding: 10px;
    background-color: aqua;
}
    
input, textarea {
    padding:5px;
    margin:5px
}

